.slogan {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    grid-row-gap: 25px;
    .btnSlogan {
        background-color: #009ad6;
        border: none;
        width: 55%;
        height: 40px;
        border-radius: 11px;
        cursor: pointer;
    }
    * {
        grid-column: 2/4;
    } 
}