.select_explores_wrap {
    grid-column: 6/7;
    position: relative;
    .select {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        text-align: center;
        .hr {
            display: none;
            border: none;
            height: 2px;
            background-color: #009ad6;
            position: relative;
            top: 25px;
            margin-top: -2px;
            width: 100%;
        }
        .hr_hover {
            display: block;
        }
    }
}