.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    align-items: center;
    @import '../SelectCity/styles.scss';
    @import '../Categories/styles.scss';
    @import '../Explore/styles.scss';
    @import '../Search/styles.scss';
};
