.createEvent {
    grid-column: 11/11;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    &:hover {
        color: #fcfefe;
        background-color: #009ad6;
        border: none;
    }
}