.jumbotron {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 75vh;
    @import './Slogan/styles.scss';
    .jumbotronImg {
        background-image: url('../../img/jumbotron.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}