.select_city_wrap {
    display: flex;
    grid-column: 3/5;
    justify-content: space-around;
    position: relative;
    height: 100%;
    img {
        align-self: center;
    }
    .select {
        background: transparent;
        border: none;
        outline: none;
        .arrow {
            margin: 1px 5px;
        }
    }
    .dropdown {
        position: absolute;
        display: none;
        list-style: none;
        width: 155px;
        text-align: left;
        color: #8b98ab;
        right: -45px;
        background: #fcfefe;
        margin: 25px 0;
        border: 1px solid #e7f0f7;
        border-radius: 5px;
        li {
            padding: 8px 17px;
            &:hover {
                color: #3b3f4a;
            }
        }
    } 
    .select, .dropdown {
        cursor: pointer;
    }
    .open {
        display: flex;
        flex-direction: column;
    }
};
