.profileDropdown {
    position: absolute;
    left: -20px;
    top: 65px;
    display: none;
    background-color: #fcfefe;
    color: #8b98ab;  
    cursor: pointer;  
    width: 100%;
    padding: 0 17px;
    border: 1px solid #e7f0f7;
    border-radius: 5px;
    li {
        list-style-type: none;
        padding: 10px;
    }
    li:hover {
        color: #3b3f4a;
    }
}
.profileDropdown_open {
    display: block;
}